<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/becomeTutorForm.css">
        <link rel="stylesheet" href="/css/becomeTutor.css">
        <!-- Js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/js/becomeTutor.js"></script>
        <title>Tutor Buddy</title>
    </head>

    <body>
        <!-- Showcase & Nav -->
        <div id="showcase">
            <header>
                <nav class='cf'>
                    <ul class='cf'>
                        <li class="hide-on-small">
                            <a href='index' style="font-size:1.4em;"><b>Tutor Buddy</b></a>
                        </li>
                        <div class="topnav-right">
                            <li>
                                <a href='becomeTutor'><b>Become Tutor</b></a>
                            </li>
                            <li>
                                <a href='findTutor'>Find Tutor</a>
                            </li>
                            <li>
                                <a href='userProfile' class="ui item">
                                    <i class="user outline icon" style="font-size:1.4em;" id="edit"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="ui item">
                                    <i class="bell outline icon" style="font-size:1.4em;" id="edit"></i>
                                </a>
                            </li>
                        </div>
                    </ul>
                    <a href='#' id='openup'>Tutor Buddy</a>
                </nav>
            </header>
        </div>

        <!-- Post tutor session form -->
        <div class="container">
            <h1><b>Become Tutor</b></h1>
            <hr>
            <div id="form">
                <!-- school dropdown -->
                <div id="schoolDropDown" onclick="selectSchool()">
                    <select id="school">
                        <option value="default">Select School</option>
                        <option value="UVic">University of Victoria</option>
                        <option value="UBC">University of British Columbia</option>
                    </select>
                </div>
                <!-- subject dropdown -->
                <div id="subjectDropDown" onclick="selectSubject()">
                    <select id="subject">
                        <option value="default">Select Subject</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="English">English</option>
                    </select>
                </div>
                <!-- course dropdown -->
                <div id="courseDropDown" onclick="selectCourse()">
                    <select id="course">
                        <option value="default">Select Course</option>
                        <option value="MATH 101">MATH 101</option>
                        <option value="abc">abc</option>
                    </select>
                </div>
            </div>
        </div>
    </body>
</html>