<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Awesome CSS File -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Index CSS File-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- CDN Bootsrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Animate On Scroll CSS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    <!-- Adding JQuery Slim-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
    <!-- Index JS File -->
    <script src="/js/index.js"></script>
    <title>Tutor Buddy</title>
</head>

<body>
    <!-- Showcase & Navigation -->
    <div id="showcase">
        <header class="navs">
            <nav id="navbar" class='cf'>
                <ul class='cf'>

                    <li class="hide-on-small">
                        <a href='index' id="navTitle"><b>Tutor Buddy</b></a>
                    </li>
                    <div class="topnav-right">
                        
                        <!-- Adding log in button-->
                        <li>
                            <a href='login'>
                                <button id="loginButton">
                                    <span>Log In</span>
                                </button>
                            </a>
                        </li>

                        <!-- Adding sign up button-->
                        <li>
                            <a href='signUp'>
                                <button id="SignUpButton">
                                    <span>Sign Up</span>
                                </button>
                            </a>
                        </li>
                    </div>
                </ul>
                <a href='#' id='openup'>Tutor Buddy</a>
            </nav>
        </header>

        <!-- Contains showcase main background picture and title along with sub title -->
        <div class="section-main container">
            <h1 class="pageTitle" data-aos="fade-up" data-aos-duration="1200" data-aos-anchor="#trigger-down"><b>Tutor
                    Buddy</b></h1>
            <!-- <h1>Improve Your Learning Experience</h1>-->
            <p class="lead hide-on-small">
 
            </p>
        </div>
    </div>


    <!-- Section 1 -->
    <div class="showcase1">
        <div class="showcaseImage1" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="s1Text">
                <h1 class="mainSubHeading" data-aos="slide-left" data-aos-duration="1400">What We Offer?</h1>
                <p class="lead" data-aos="slide-left" data-aos-duration="1700">
                    We provide a platform for you to get the essentials of every particular class
                    you need assistance with.</br></br> Our system is concise in each specific type you need
                    help with to provide a tutor specialized in distinct courses they have taken.
                    Tutors are carefully monitored to ensure an excellent experience for the student
                    to succeed in the required class.
                </p>
            </div>
        </div>
    </div>

        <!-- Section 1 680 Mediq Queries-->
        <div class="showcase1680">
                <h1 class="mainSubHeading1680">
                       What We Offer?
                </h1>
                <div id="wrap1680">
                    <img class="s1680Images" src="/img/homepage19.jpg">
                    <p class="lead p1">
                        We provide a platform for you to get the essentials of every particular class
                        you need assistance with.</br></br> Our system is concise in each specific type you need
                        help with to provide a tutor specialized in distinct courses they have taken.
                        Tutors are carefully monitored to ensure an excellent experience for the student
                        to succeed in the required class.
                    </p>
                </div>
        </div>


    <!-- Section 2 -->
    <div class="showcase2">
        <h1 class="mainSubHeading2" data-aos="slide-up">
            Becoming a Tutor is Simple and Easy
        </h1>

        <!-- Displaying a card of instructions (3 instructions) -->
        <div class="s2Description">

            <div class="card" data-aos="slide-left">
                <div class="content">
                    <div class="front">
                        <h1>1. Login to the Website</h1>
                    </div>
                    <div class="back">
                        <h1> To become a tutor you must first log in, if you
                            do not have an account create one first.

                            <a class="flipButton" href="signUp">Create An Account</a>

                        </h1>
                    </div>
                </div>
            </div>

            <div class="card" data-aos="slide-up">
                <div class="content">
                    <div class="front">
                        <h1>2. Fill Out The Become A Tutor Form </h1>
                    </div>
                    <div class="back">
                        <h1> Fill out the become a tutor form, filling out information such
                            as your name, school you would like to teach at, course you would like to
                            teach, your gpa, etc.

                        </h1>
                    </div>
                </div>
            </div>

            <div class="card" data-aos="slide-right">
                <div class="content">
                    <div class="front">
                        <h1>3. Application Results</h1>
                    </div>
                    <div class="back">
                        <h1>
                            Once you've submitted your application, the administrator will accept or reject your
                            aplication.
                            This process can take up to 3-5 business days
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="s2Information" data-aos="slide-up">
            <p class="lead">
                Tutors make use of their knowledge and expertise in a specific
                area to teach students outside a classroom. Tutors may teach
                individual students or small groups depending on the demand.
                In many cases, the Tutors and the students may be peers of the
                same age and grade, although, in most cases, the Tutor is older
                than the student.
            </p>
        </div>
    </div>



    <!-- Section 3 -->
    <div class="showcase3">
        <div class="showcaseImage3" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="s3Text" data-aos="zoom-in-right" data-aos-duration="0">
                <h1 class="mainSubHeading3">Tutors Will Need To Be:</h1>

                <p class="lead">
                    <span data-aos="flip-right" data-aos-duration="1200" data-aos-delay="300"
                        class="fa-lg fa fa-book-reader fa-fw"></span> Providing private lessons to individual students
                    </br></br><i data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-book-reader fa-fw"></i> Improving their academic
                    performance through study and practice
                    </br></br><span data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-calendar fa-fw"></span> Reviewing class materials and
                    experiences
                    </br></br><span data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-calendar fa-fw"></span> Discussing texts, solving
                    problems, and reviewing assignments
                    </br></br><span data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-calendar fa-fw"></span> Providing clear and concise
                    explanations of the subject
                    </br></br><span data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-calendar fa-fw"></span> Answering questions clearly and
                    assertively
                    </br></br><span data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-calendar fa-fw"></span> Assessing students’ progress
                    throughout sessions
                    </br></br><span data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                        data-aos-delay="300" class="fa-lg fa fa-calendar fa-fw"></span> Rewarding students using
                    positive reinforcement and feedback</p>
            </div>
        </div>
    </div>

    <!-- Section 4-->
    <div class="showcase4">
        <div class="s4Text">
            <h1 class="mainSubHeading4" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                How We Keep Track of Our Tutor’s Skills?
            </h1>
            <p class="lead p4" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                At the end of each tutor session, you will be provided criteria to
                fill out. This is essential, for we would like to know if the tutor
                was well educated and assisted you in a professional, knowledgeable manner.
            </p>

            <a data-aos="fade-up" data-aos-offset="100" class="buttonJoin" data-aos-easing="ease-in-sine"
                href="signUp">Become A Tutor Now</a>
        </div>
    </div>
    </div>

    <!-- Section 5 -->
    <div class="showcase5">
        <div class="container c5">

            <h1 class="mainSubHeading5" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                Our Services
            </h1>

            <img id="changing_image" data-aos="fade-up" src="/img/homepage20.jpg" width="400px" height="550px" />

            <a data-aos="flip-right" data-aos-delay="600" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                class="buttonOption buttonOption1 target" href="#" onclick="change1(); return false;">Become Tutor</a>
            <a data-aos="flip-right" data-aos-delay="300" data-aos-easing="ease-out-cubic" data-aos-duration="1200"
                class="buttonOption" href="#" onclick="change2(); return false;">Find Tutor</a>

            <a data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000" class="buttonOption"
                href="#" onclick="change3(); return false;">View Tutors</a>
            <a data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-delay="300" data-aos-duration="1200"
                class="buttonOption" href="#" onclick="change4(); return false;">Post Schedule</a>
            <a data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200" data-aos-delay="600"
                class="buttonOption" href="#" onclick="change5(); return false;">Profile</a>
        
        </div>

        <!-- Media Query 680-->
        <div class="container c5680">
            <h1 class="mainSubHeading5680" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                Our Services
            </h1>

            <!-- Become Tutor-->
            <div class="s5680Contain" >
                <img class="s5680Images" src="/img/homepage20.jpg">
                <span class="lead"> Become Tutor</span>
            </div>

            <!-- Find Tutor-->
            <div class="s5680Contain" >
                    <span class="lead"> Find Tutor</span>
                <img class="s5680Images" src="/img/homepage20.jpg">
            </div>

            <!-- View Tutors -->
            <div class="s5680Contain" >
                 <img class="s5680Images" src="/img/homepage20.jpg">
                <span class="lead"> View Tutor</span>
            </div>

            <!-- Post Schedule -->
            <div class="s5680Contain" >
                    <span class="lead">Schedule</span>
                <img class="s5680Images" src="/img/homepage20.jpg">
            </div>

            <!-- Profile -->
            <div class="s5680Contain" >
                <img class="s5680Images" src="/img/homepage20.jpg">
                <span class="lead"> Profile</span>
            </div>
        </div>
    </div>

    <!-- Section 6-->
    <div class="showcase6">
        <div class="s6Text">
            <h1 class="mainSubHeading6" data-aos="fade-up">Don't Miss Out</h1>
            <p class="lead p6" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                The opportunity to be your loss, you set the prices, you tutor the specified class.
                It allows hard-working students that are knowledgable in specific fields to benefit from their expertise
                and earn an income while being at school!
                We monitor your tutoring by inquiring feedback given from your tutees, the more you tutor and become
                credible, the more you can charge!

            </p>
        </div>
    </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-cols">
                <ul>
                    <li>Become a Tutor</li>
                    <li>
                        <a href="#">Become</a>
                    </li>
                    <li>
                        <a href="#">Tutor</a>
                    </li>

                </ul>

                <ul>
                    <li>Find a Tutor</li>
                    <li>
                        <a href="#">Find a </a>
                    </li>
                    <li>
                        <a href="#">Today at </a>
                    </li>

                </ul>

                <ul>
                    <li>Book appointment</li>
                    <li>
                        <a href="#">Education</a>
                    </li>
                    <li>
                        <a href="#">College</a>
                    </li>
                </ul>

                <ul>
                    <li>About </li>
                    <li>
                        <a href="#">New</a>
                    </li>
                    <li>
                        <a href="#">study</a>
                    </li>

                </ul>

            </div>
        </div>
        <div class="footer-bottom text-center">
            Copyright &copy; 2019 3900 Project
        </div>
    </footer>

    <!-- Adding the JQuery Script-->
    <script src="/js/jquery.js"></script>
    <!-- Adding the Animate On Scroll script-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="http://localhost:3002/dist/aos.js"></script> -->

    <!-- Animate on scroll inital general values -->
    <script>
        AOS.init({
            duration: 1000
        });
    </script>

<script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        document.getElementById("navbar").style.background = "transparent";

          if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
            document.getElementById("navbar").style.background = "white";

          } else {
            document.getElementById("navbar").style.top = "-100px";
          }
          prevScrollpos = currentScrollPos;
        }


        </script>
</body>
</html>
