
<% include ./common/header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/index.css">


<body>
  <header>
    <div class = "navContainer">
      <nav>
        <h2 class = "logo">TutorBuddy</h2>
        <ul>
          <li class = "signUp"><a href="/signUp">Join</a></li>
          <li class = "signIn">Log In</li>
        </ul>
      </nav>
    </div>
  </header>

  
</body>

</html>