<!DOCTYPE html>
<html lang="en">

<head>
  <title>TutorBuddy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  <!-- Adding Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="Anonymous">
  
  <!-- Adding CSS Stylsheet-->
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
  <header>
    <div class = "navContainer">
      <nav>
        <h2 class = "logo">TutorBuddy</h2>
        <ul>
          <li class = "signUp"><a href="/signUp">Join</a></li>
          <li class = "signIn">Log In</li>
        </ul>
      </nav>
    </div>
  </header>

  
</body>

</html>