@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#showcase {
	margin: 0;
	padding: 0;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
    background-size: 100% 100%;
    background-color: #f3ca3352;
}

.adminTitle {
    text-align: center;
    text-transform: uppercase;
    font-family:'Poppins',sans-serif;
	font-style: bold;
}

.cardContainer {
    margin-top: 50px;
    background-color: whitesmoke;
        box-shadow: 0 0 30px #cccccc;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}

.cardContainer:hover {
    /* A box shadow displays on hover to emphasize
       the div that is hovered */
       transform: translateY(-2px);
    box-shadow: 4px 4px 20px #999, -4px -4px 20px #999;
}

.leftSide {
    float: left;
}

.rightSide {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.myBtn {
    border-radius: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

}